<!DOCTYPE html>
<html lang="en" ng-app="Keithkuru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <link rel="icon" href="{% static 'music/assets/favicon.ico' %}">

    <title>Keithkuru</title>
    <!-- Bootstrap core CSS -->
    <!-- <link href="{% static 'music/assets/css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <link href="http://bootswatch.com/darkly/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'music/dashboard.css' %}" rel="stylesheet">

  </head>

  <body>

    <div ng-controller="SongController" ng-show="true">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Keithkuru</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <!-- <li><a href="#">Dashboard</a></li> -->
              <!-- <li><a href="#">Settings</a></li> -->
              <li><a href="#" ng-click="changePage('Your Profile')">Profile</a></li>
              <li><a href="#">Help</a></li>
            </ul>

            <form class="navbar-form navbar-right" ng-submit="setPlaylistBySearch(searchWords)">
              <input type="text" class="form-control" placeholder="Search..." ng-model="searchWords">
            </form>
          </div>
        </div>
      </nav>

      <!-- <nav class="navbar navbar-fixed-bottom">
        <div class="audiobar">
          <audio id="audiobar" data-ng-src="{{songPath}}" controls loop="loop" autoplay="autoplay"></audio>
        </div>
      </nav> -->

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 row">
        <h1 class="page-header" ng-bind="currPage"></h1>
        <hr>

        <div class="PROFILE" ng-show="currPage == 'Your Profile'" ng-cloak>
          <div class="row" ng-repeat="album in albumlist.li">
            <div class="col-md-4">
              <img class="img-thumbnail" src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/15109341_10154615057689088_6880569998308639492_n.jpg?oh=862585562e3f9d9b8df0a6bcaf879df0&oe=58FB39FB" alt="keith" width="300" height="300">
            </div>

            <div class="col-md-5">
              <h2>[[ album.title ]]</h2>
              <p>Album description lorem ipsum</p>
              <h4><span star-rating rating-value=3 max="5" min="1"></span></h4>
              <button type="button" ng-click="changePage('Edit Album Details')" class="btn btn-primary" ng-show="userType == 'artist'">Edit Album <span class="glyphicon glyphicon-pencil"></span></button>
              <button type="button" ng-click="deleteAlbum()" class="btn btn-danger" ng-show="userType == 'artist'">Delete Album <span class="glyphicon glyphicon-trash"></span></button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <button type="button" ng-click="changePage('Create Album')" class="btn btn-success" ng-show="userType == 'artist'">Create Album <span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
          </div>
        </div>

        <div class="container-fluid" ng-show="currPage == 'Edit Album Details'" ng-cloak>
          <h1>WORK IN PROGRESS</h1>
          <ul class="list-group" ng-repeat="song in uploadList">
            <li class="list-group-item" ng-click="gotosong">[[ song.name ]]</li>
          </ul>
        </div>

        <div class="container-fluid" ng-show="currPage == 'Create Album'" ng-cloak>
          <div class="col-md-7">
            <form ng-submit="submitAlbum()">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Album name" required>
              </div>
              <hr>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Song name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Song URL">
              </div>
              <button type="button" ng-click="uploadSong()" class="btn btn-default">Upload</button>
              <hr>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" required> By checking this box, I hereby accept the terms and conditions of Keithkuru, submitting all my rights to the song to the label and publisher.
                </label>
              </div>
              <hr>
              <input type="submit" class="btn btn-success" value="Finish"></input>
              <button type="button" ng-click="changePage('Your Profile')" class="btn btn-primary">Cancel</button>
            </form>
          </div>
        </div>

      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li class="active"><a ng-click="changePage('Homepage')">Home<span class="sr-only">(current)</span></a></li>
              <li><a href="#">Account<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="" ng-click="changePage('Your Playlist')">Personal playlist</a></li>
              <li><a href="">Nav item</a></li>
              <li><a href="">Nav item again</a></li>
              <li><a href="">One more nav</a></li>
              <li><a href="">Another nav item</a></li>
              <li><a href="">More navigation</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="">Nav item again</a></li>
              <li><a href="">One more nav</a></li>
              <li><a href="">Another nav item</a></li>
            </ul>
          </div>

          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="HOME" ng-show="currPage == 'Homepage'" ng-cloak>
              <div class="col-md-3 placeholder" ng-click="setRecommendedPlaylist()">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Recommended Playlist</h4>
                <span class="text-muted">Curated especially for you</span>
              </div>
<!--               <div class="col-md-3 placeholder" ng-click="setPlaylistBySearch('1989')">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Top Trending</h4>
                <span class="text-muted">Follow the newest trend in music.</span>
              </div> -->
              <div class="col-md-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Recently listened Songs (?)</h4>
                <span class="text-muted">Don't forget to add these to your playlist!</span>
              </div>
            </div>

            <div class="PLAYLIST" ng-show="currPage == 'Your Playlist'" ng-cloak>
              <h2 class="sub-header">[[currentPlaylist.name]]</h2>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Artist</th>
                      <th>Album</th>
                      <th>Genre</th>
                      <th>Rating</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="song in currentPlaylist.songList">
                      <td>
                        <i class="glyphicon glyphicon-play" ng-click="playSong(song)" style="font-size:20px" ng-hide="isPlaying"></i>
                        <i class="glyphicon glyphicon-pause" ng-click="pauseSong()" style="font-size:20px" ng-show="isPlaying"></i>
                      </td>
                      <td>[[song.song_title]]</td>
                      <td><a ng-click="setPlaylistByArtist(song.album.artist.id)">[[song.album.artist.name]]</a></td>
                      <td><a ng-click="setPlaylistByAlbum(song.album.id)">[[song.album.album_name]]</a></td>
                      <td><a ng-click="setPlaylistByGenre(song.album.genre)">[[song.album.genre]]</a></td>
                      <td><div star-rating rating-value="song.song_rating" max="5" min="1" on-rating-selected="setSelectedRating(rating,song)"></div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'music/assets/js/vendor/jquery.min.js' %}"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../music/static/music/assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="{% static 'music/assets/js/bootstrap.min.js' %}"></script>

    <!-- For audio player -->
    <script src="{% static 'music/assets/js/bootstrap3_player.js' %}"></script>

    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'music/assets/js/vendor/holder.min.js' %}"></script>

    <!-- Angular resources -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>

    <!-- Our app.js -->
    <script src="{% static 'music/app.js' %}"></script>



    <!-- <script src="https://raw.githubusercontent.com/axel-zarate/js-custom-select/master/js/customSelect.js"></script> -->
  </body>
</html>
