<!DOCTYPE html>
<html lang="en" ng-app="Keithkuru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <link rel="icon" href="{% static 'music/assets/KeiKru.ico' %}">

    <title>Keithkuru</title>
    <link href="{% static 'music/assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- For audio player -->
    <!-- <link href="{% static 'music/assets/css/bootstrap-player.css' %}" rel="stylesheet"> -->
    <link href="{% static 'music/assets/css/bootstrap-player.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'music/dashboard.css' %}" rel="stylesheet">

  </head>

  <body>

    <div ng-controller="SongController" ng-show="true">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">Keithkuru</a>
          </div>

          <div id="TOP NAVBAR" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" ng-submit="setPlaylistBySearch(searchWords)">
              <input type="text" class="form-control" placeholder="Search..." ng-model="searchWords">
            </form>
          </div>
        </div>
      </nav>

      <div id="MAIN PAGE" class="col-md-7 col-md-offset-2">

        <h1 class="page-header" ng-bind="currPage"></h1>
        <hr>

        <div id="HOME" ng-show="currPage == 'Homepage'" ng-cloak>
          <div class="col-md-3 placeholder" ng-click="setRecommendedPlaylist()">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Recommended Playlist</h4>
            <span class="text-muted">Curated especially for you</span>
          </div>
          <div class="col-md-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Recently listened Songs (?)</h4>
            <span class="text-muted">Don't forget to add these to Playlist!</span>
          </div>
        </div>

        <div id="PLAYLIST" ng-show="currPage == 'Playlist'" ng-cloak>
            <h2 class="sub-header">[[currentPlaylist.name]]</h2>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Genre</th>
                    <th>Rating</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="song in currentPlaylist.songList">
                    <td>
                      <i class="glyphicon glyphicon-play" ng-click="playSong(song)" style="font-size:20px" ng-hide="isPlaying"></i>
                      <i class="glyphicon glyphicon-pause" ng-click="pauseSong()" style="font-size:20px" ng-show="isPlaying"></i>
                    </td>
                    <td>[[song.song_title]]</td>
                    <td><a ng-click="setPlaylistByArtist(song.album.artist.id)">[[song.album.artist.artistname]]</a></td>
                    <td><a ng-click="setPlaylistByAlbum(song.album.id)">[[song.album.album_name]]</a></td>
                    <td><a ng-click="setPlaylistByGenre(song.album.genre)">[[song.album.genre]]</a></td>
                    <td><div star-rating rating-value="song.song_rating" max="5" min="1" on-rating-selected="setSelectedRating(rating,song)"></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        <div id="ARTIST ALBUMS" ng-show="currPage == 'ArtistAlbums'" ng-cloak>
          <div class="row" ng-repeat="album in albumList">
            <div class="col-md-6">
              <img class="img-thumbnail" src="[[album.album_art]]" alt="album_art" width="300" height="300">
            </div>

            <div class="col-md-4">
              <h2><a ng-click="setPlaylistByAlbum([[album.id]])">[[ album.title ]]</a></h2>
              <p>Album description lorem ipsum</p>
              <h4><span star-rating rating-value=3 max="5" min="1"></span></h4>
            </div>
          </div>
        </div>

        <div id="PROFILE" ng-show="currPage == 'Profile'" ng-cloak>
          <div class="row" ng-repeat="album in myAlbumList">
            <div class="col-md-6">
              <img class="img-thumbnail" src="[[album.album_art]]" alt="album_art" width="300" height="300">
            </div>

            <div class="col-md-6">
              <h2><a ng-click="setPlaylistByAlbum([[album.id]])">[[ album.title ]]</a></h2>
              <p>Album description lorem ipsum</p>
              <h4><span star-rating rating-value=3 max="5" min="1"></span></h4>
              <button type="button" ng-click="changePage('Edit Album')" class="btn btn-primary" ng-show="userType == 'artist'">Edit Album <span class="glyphicon glyphicon-pencil"></span></button>
              <button type="button" data-toggle="modal" data-target="#DELETEMODAL" class="btn btn-danger" ng-show="userType == 'artist'">Delete Album <span class="glyphicon glyphicon-trash"></span></button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <button type="button" ng-click="changePage('Create Album')" class="btn btn-success" ng-show="userType == 'artist'">Create Album <span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
          </div>
        </div>

        <div id="EDIT ALBUM" ng-show="currPage == 'Edit Album'" ng-cloak>
          <div class="col-md-7">
            <form ng-submit="changePage('Profile')">
              <div class="form-group">
                <p class="text-muted">Album Name</p>
                <input type="text" class="form-control" placeholder="Insert name here">
              </div>
              <div class="form-group">
                <p class="text-muted">Album Art</p>
                <input type="text" class="form-control" placeholder="Insert URL here">
              </div>
              <div class="form-group">
                <p class="text-muted">Album Genre</p>
                <input type="text" class="form-control" placeholder="Insert genre here">
              </div>
              <hr>
              <button type="button" ng-click="changePage('Create Song')" class="btn btn-default">Add Song</button>
              <button type="button" ng-click="changePage('Update Song')" class="btn btn-primary">Update Song</button>
              <button type="button" data-toggle="modal" data-target="#DELETEMODAL" class="btn btn-danger">Delete Song</button>            <hr>
              <input type="submit" class="btn btn-success" value="Finish"></input>
            </form>
          </div>
        </div>

        <div id="UPDATE SONG" ng-show="currPage == 'Update Song'" ng-cloak>
          <div class="col-md-7">
            <form ng-submit="updateSong()">
              <div class="form-group">
                <p class="text-muted">Song Name</p>
                <input type="text" class="form-control" placeholder="Insert name here" required>
              </div>
              <div class="form-group">
                <p class="text-muted">Song URL</p>
                <input type="text" class="form-control" placeholder="Insert URL here" required>
              </div>
              <hr>
              <input type="submit" class="btn btn-success" value="Update Song"></input>
              <button type="button" ng-click="changePage('Edit Album')" class="btn btn-primary">Back</button>
            </form>
          </div>
        </div>

        <div id="CREATE ALBUM" ng-show="currPage == 'Create Album'" ng-cloak>
          <div class="col-md-7">
            <form ng-submit="createAlbum()">
              <div class="form-group">
                <p class="text-muted">Album Name</p>
                <input type="text" class="form-control" placeholder="Insert name here">
              </div>
              <div class="form-group">
                <p class="text-muted">Album Art</p>
                <input type="text" class="form-control" placeholder="Insert URL here">
              </div>
              <div class="form-group">
                <p class="text-muted">Album Genre</p>
                <input type="text" class="form-control" placeholder="Insert genre here">
              </div>
              <hr>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" required> By checking this box, I hereby accept the terms and conditions of Keithkuru, submitting all my rights to the song to the label and publisher.
                </label>
              </div>
              <hr>
              <input type="submit" class="btn btn-success" value="Upload Album"></input>
              <button type="button" ng-click="changePage('Profile')" class="btn btn-primary">Cancel</button>
            </form>
          </div>
        </div>

        <div id="CREATE SONG" ng-show="currPage == 'Create Song'" ng-cloak>
          <div class="col-md-7">
            <form ng-submit="createSong()">
              <div class="form-group">
                <p class="text-muted">Song Name</p>
                <input type="text" class="form-control" placeholder="Insert name here" required>
              </div>
              <div class="form-group">
                <p class="text-muted">Song URL</p>
                <input type="text" class="form-control" placeholder="Insert URL here" required>
              </div>
              <hr>
              <input type="submit" class="btn btn-success" value="Upload Song"></input>
              <button type="button" ng-click="changePage('Edit Album')" class="btn btn-primary">Back</button>
            </form>
          </div>
        </div>

      </div>

      <div id="RIGHT SIDEBAR" class="col-md-3 sidebar-right">
        <ul class="nav nav-sidebar">
          <audio controls
            data-info-album-art="{% static 'music/assets/Keith.jpeg' %}"
            data-info-album-title="Album"
            data-info-artist="Artist"
            data-info-title="Song Name"
            data-info-label="Label">
            <source src="{% static 'music/assets/songs/The Weeknd/Starboy/01 Starboy (feat. Daft Punk).mp3' %}" type="audio/mpeg" />
          </audio>
        </ul>
      </div>

      <div id="LEFT SIDEBAR" class="col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a ng-click="changePage('Homepage')"><span class="glyphicon glyphicon-home"></span> Home<span class="sr-only">(current)</span></a></li>
          <li><a ng-click="changePage('Profile')"><span class="glyphicon glyphicon-user"></span> Profile<span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="" ng-click="changePage('Playlist')"><span class="glyphicon glyphicon-headphones"></span> My Playlist</a></li>
          <li><a href="" data-toggle="modal" data-target="#HELPMODAL"><span class="glyphicon glyphicon-info-sign"></span> Help</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="http://127.0.0.1:8000/logout_user/"><span class="glyphicon glyphicon-off"></span> Logout<span class="sr-only">(current)</span></a></li>
        </ul>
      </div>

      <div id="HELPMODAL" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Welcome to Keithkuru!</h4>
            </div>
            <div class="modal-body">
              <p>Keithkuru is a loving amalgamation of Keith and his Kukuru, bringing to you the best of music exploitation and senseless UI. Please go ahead and click all the buttons, enjoy!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">This was helpful...</button>
            </div>
            <p ng-model="user_id">{{user_id}},{{username}},{{user_type}}</p>
          </div>
        </div>
      </div>

      <div id="DELETEMODAL" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
            <p id = "userInfo">{{user_id}},{{username}},{{user_type}}</p>
          </div>
        </div>
      </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'music/assets/js/vendor/jquery.min.js' %}"></script>

    <script src="{% static 'music/assets/js/bootstrap.min.js' %}"></script>

    <!-- For audio player -->
    <!-- <script src="{% static 'music/assets/js/bootstrap-player.js' %}"></script> -->
    <script src="{% static 'music/assets/js/bootstrap3_player.js' %}"></script>

    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'music/assets/js/vendor/holder.min.js' %}"></script>

    <!-- Angular resources -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>

    <!-- Our app.js -->
    <script src="{% static 'music/app.js' %}"></script>



    <!-- <script src="https://raw.githubusercontent.com/axel-zarate/js-custom-select/master/js/customSelect.js"></script> -->
  </body>
</html>
