<!DOCTYPE html>
<html lang="en" ng-app="Keithkuru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <link rel="icon" href="{% static 'music/assets/KeiKru.ico' %}">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <title>Keithkuru</title>
    <link href="{% static 'music/assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- For audio player -->
    <link href="{% static 'music/assets/css/bootstrap-player.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'music/dashboard.css' %}" rel="stylesheet">

  </head>

  <body>
    <input type="hidden" id="userInfo-userType" name="variable" value="{{ user_type }}">
    <input type="hidden" id="userInfo-userName" name="variable" value="{{ username }}">
    <input type="hidden" id="userInfo-userID" name="variable" value="{{ user_id }}">

    <div ng-controller="SongController" ng-show="true">
      <nav id="TOP NAVBAR" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#" style="font-family:Satisfy,cursive;">Keithkuru</a>
          </div>

          <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" ng-submit="setPlaylistBySearch(searchWords)">
              <input type="text" class="form-control" placeholder="Search..." ng-model="searchWords">
            </form>
          </div>
        </div>
      </nav>

      <div id="MAIN PAGE" class="col-md-7 col-md-offset-2">

        <h1 class="page-header" ng-bind="currPage"></h1>
        <hr>

        <div id="HOME" ng-show="currPage == 'Homepage'" ng-cloak>
          <div id="JUMBOTRON" class="row col-md-12 text-justify">
            <div class="jumbotron">
              <div class="container-fluid">
                <h1 class="text-info">Welcome to Keithkuru</h1>
                <p class="text-muted">Checkout our latest feature, the reccommended playlist!</p>
                <p><a ng-click="setRecommendedPlaylist()" class="btn btn-success btn-lg">Listen Now <span class="glyphicon glyphicon-headphones"></span></a></p>
              </div>
            </div>
          </div>
        </div>

        <div id="PLAYLIST" ng-show="currPage == 'Playlist'" ng-cloak>
            <h2 class="sub-header">[[currentPlaylist.name]]</h2>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th><a ng-click="changeCriteria('name')">Name</a></th>
                    <th><a ng-click="changeCriteria('artist')">Artist</th>
                    <th><a ng-click="changeCriteria('album')">Album</th>
                    <th><a ng-click="changeCriteria('genre')">Genre</th>
                    <th>Rating</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="song in currentPlaylist.songList | orderBy: 'criteria' ">

                    <td>
                      <i class="glyphicon glyphicon-play" ng-click="playSong(song.song_file)" style="font-size:20px"></i>
                      <!-- <i class="glyphicon glyphicon-pause" ng-click="pauseSong()" style="font-size:20px" ng-show="isPlaying"></i> -->
                    </td>
                    <td>[[song.song_title]]</td>
                    <td><a ng-click="setPlaylistByArtist(song.album.artist.id)">[[song.album.artist.artistname]]</a></td>
                    <td><a ng-click="setPlaylistByAlbum(song.album.id)">[[song.album.album_name]]</a></td>
                    <td><a ng-click="setPlaylistByGenre(song.album.genre)">[[song.album.genre]]</a></td>
                    <td><div star-rating rating-value="getRating(song.id)" max="5" min="1" on-rating-selected="setSelectedRating(rating,song.id)"></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        <div id="HISTORY" ng-show="currPage == 'History'" ng-cloak>
            <h2 class="sub-header">[[currentPlaylist.name]]</h2>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th><a ng-click="changeCriteria('name')">Name</a></th>
                    <th><a ng-click="changeCriteria('artist')">Artist</th>
                    <th><a ng-click="changeCriteria('album')">Album</th>
                    <th><a ng-click="changeCriteria('genre')">Genre</th>
                    <th>Rating</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="song in currentPlaylist.songList | orderBy: 'criteria' ">

                    <td>
                      <i class="glyphicon glyphicon-play" ng-click="playSong(song.song_file)" style="font-size:20px"></i>
                      <!-- <i class="glyphicon glyphicon-pause" ng-click="pauseSong()" style="font-size:20px" ng-show="isPlaying"></i> -->
                    </td>
                    <td>[[song.song_title]]</td>
                    <!-- <td>[[song.id]]</td> -->
                    <td><a ng-click="setPlaylistByArtist(song.album.artist.id)">[[song.album.artist.artistname]]</a></td>
                    <td><a ng-click="setPlaylistByAlbum(song.album.id)">[[song.album.album_name]]</a></td>
                    <td><a ng-click="setPlaylistByGenre(song.album.genre)">[[song.album.genre]]</a></td>
                    <td><div star-rating rating-value="getRating(song.id)" max="5" min="1" on-rating-selected="setSelectedRating(rating,song.id)"></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        <div id="ARTIST ALBUMS" ng-show="currPage == 'Artists Albums'" ng-cloak>
          <div class="row" ng-repeat="album in albumList">
            <div class="col-md-6">
              <img class="img-thumbnail" src="[[album.album_art]]" alt="album_art" width="300" height="300">
            </div>

            <div class="col-md-4">
              <h2><a ng-click="setPlaylistByAlbum([[album.id]])">[[ album.title ]]</a></h2>
              <h4><span star-rating rating-value=3 max="5" min="1"></span></h4>
            </div>
          </div>
        </div>

        <div id="PROFILE" ng-show="currPage == 'Profile'" ng-cloak>
          <div id="USER INFO" class="row col-md-12">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">[[NgUserName]]</span>
                Username:
              </li>
              <li class="list-group-item">
                <span class="badge">[[NgUserID]]</span>
                User ID:
              </li>
              <li class="list-group-item">
                <span class="badge">[[NgUserType]]</span>
                Usertype:
              </li>
            </ul>
          </div>

          <div id="FOR LABEL EYES ONLY" ng-show="NgUserType == 'label'">
            <h3>Your Artists</h3>
            <div class="row" ng-repeat="artist in myArtistList" ng-cloak>
              <div class="col-md-6">
                <img class="img-thumbnail" src="[[artist.picture]]" alt="artist_pic" width="300" height="300">
              </div>
              <div class="col-md-6">
                <h2><a ng-click="setPlaylistByArtist([[ artist.id ]])">[[ artist.name ]]</a></h2>
                </div>
            </div>
            <hr>
          </div>

          <div id="FOR ARTIST EYES ONLY" ng-show="NgUserType == 'artist'">
            <h3>Your Albums</h3>
            <div class="row" ng-repeat="album in myAlbumList" ng-cloak>
              <div class="col-md-6">
                <img class="img-thumbnail" src="[[album.album_art]]" alt="album_art" width="300" height="300">
              </div>
              <div class="col-md-6">
                <h2><a ng-click="setPlaylistByAlbum([[album.id]])">[[ album.title ]]</a></h2>
                <h4><span star-rating rating-value=3 max="5" min="1"></span></h4>
                <button type="button" ng-click="changePage('Edit Album')" class="btn btn-primary">Edit Album <span class="glyphicon glyphicon-pencil"></span></button>
                <button type="button" data-toggle="modal" data-target="#DELETEMODAL" class="btn btn-danger">Delete Album <span class="glyphicon glyphicon-trash"></span></button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <button type="button" ng-click="changePage('Create Album')" class="btn btn-success">Create Album <span class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </div>

          <div id="FOR USER EYES ONLY" ng-show="NgUserType == 'user'">
            <h3>Browse</h3>
            <div id="PLACEHOLDERS" class="row col-md-12">
              <a ng-click="setRecommendedPlaylist()">
                <div  class="col-md-4 placeholder  text-center">
                  <img src="[[ randomAlbum1.album_art ]]" width="200" height="200" class="img-responsive" alt="Top Hits">
                  <h4>Recommended Playlist</h4>
                  <span class="text-muted text-center">Curated specially for you.</span>
                </div>
              </a>
              <a ng-click="setPlaylistByHistory()">
                <div  class="col-md-4 placeholder  text-center">
                  <img src="[[ randomAlbum2.album_art ]]" width="200" height="200" class="img-responsive" alt="Top Hits">
                  <h4>Rediscover</h4>
                  <span class="text-muted text-center">From songs recently played.</span>
                </div>
              </a>
              <a href="https://mixcloud.com/keithchia">
                <div class="col-md-4 placeholder  text-center">
                  <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/15109341_10154615057689088_6880569998308639492_n.jpg?oh=862585562e3f9d9b8df0a6bcaf879df0&oe=58FB39FB" width="200" height="200" class="img-responsive" alt="Featured Artist">
                  <h4>Featured Artist</h4>
                  <span class="text-muted text-center" style="">Take a look at the director's choice.</span>
                </div>
              </a>
            </div>
          </div>

        </div>

        <div id="EDIT ALBUM" ng-show="currPage == 'Edit Album'" ng-cloak>
          <div class="col-md-7">
            <form ng-submit="changePage('Profile')">
              <div class="form-group">
                <p class="text-muted">Album Name</p>
                <input type="text" class="form-control" placeholder="Insert name here">
              </div>
              <div class="form-group">
                <p class="text-muted">Album Art</p>
                <input type="text" class="form-control" placeholder="Insert URL here">
              </div>
              <div class="form-group">
                <p class="text-muted">Album Genre</p>
                <input type="text" class="form-control" placeholder="Insert genre here">
              </div>
              <hr>
              <button type="button" ng-click="changePage('Create Song')" class="btn btn-default">Add Song</button>
              <button type="button" ng-click="changePage('Update Song')" class="btn btn-primary">Update Song</button>
              <button type="button" data-toggle="modal" data-target="#DELETEMODAL" class="btn btn-danger">Delete Song</button>            <hr>
              <input type="submit" class="btn btn-success" value="Finish"></input>
            </form>
          </div>
        </div>

        <div id="UPDATE SONG" ng-show="currPage == 'Update Song'" ng-cloak>
          <div class="col-md-7">
            <form ng-submit="updateSong()">
              <div class="form-group">
                <p class="text-muted">Song Name</p>
                <input type="text" class="form-control" placeholder="Insert name here" required>
              </div>
              <div class="form-group">
                <p class="text-muted">Song URL</p>
                <input type="text" class="form-control" placeholder="Insert URL here" required>
              </div>
              <hr>
              <input type="submit" class="btn btn-success" value="Update Song"></input>
              <button type="button" ng-click="changePage('Edit Album')" class="btn btn-primary">Back</button>
            </form>
          </div>
        </div>

        <div id="CREATE ALBUM" ng-show="currPage == 'Create Album'" ng-cloak>
          <div class="col-md-7">
            <form ng-submit="createAlbum()">
              <div class="form-group">
                <p class="text-muted">Album Name</p>
                <input type="text" class="form-control" placeholder="Insert name here">
              </div>
              <div class="form-group">
                <p class="text-muted">Album Art</p>
                <input type="text" class="form-control" placeholder="Insert URL here">
              </div>
              <div class="form-group">
                <p class="text-muted">Album Genre</p>
                <input type="text" class="form-control" placeholder="Insert genre here">
              </div>
              <hr>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" required> By checking this box, I hereby accept the terms and conditions of Keithkuru, submitting all my rights to the song to the label and publisher.
                </label>
              </div>
              <hr>
              <input type="submit" class="btn btn-success" value="Upload Album"></input>
              <button type="button" ng-click="changePage('Profile')" class="btn btn-primary">Cancel</button>
            </form>
          </div>
        </div>

        <div id="CREATE SONG" ng-show="currPage == 'Create Song'" ng-cloak>
          <div class="col-md-7">
            <form ng-submit="createSong()">
              <div class="form-group">
                <p class="text-muted">Song Name</p>
                <input type="text" class="form-control" placeholder="Insert name here" required>
              </div>
              <div class="form-group">
                <p class="text-muted">Song URL</p>
                <input type="text" class="form-control" placeholder="Insert URL here" required>
              </div>
              <hr>
              <input type="submit" class="btn btn-success" value="Upload Song"></input>
              <button type="button" ng-click="changePage('Edit Album')" class="btn btn-primary">Back</button>
            </form>
          </div>
        </div>

        <div id="CREDITS" ng-show="currPage == 'Credits'" ng-cloak>
          <div id="THE TEAM" class="row col-md-12">
            <div class="col-lg-4">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200">
              <h2>Muhd Hafiz</h2>
              <p>Senior Software Architect (Intern)</p>
            </div>
            <div class="col-lg-4">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200">
              <h2>Muhd Hafiz</h2>
              <p>Senior Software Architect (Intern)</p>
            </div>
            <div class="col-lg-4">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200">
              <h2>Muhd Hafiz</h2>
              <p>Senior Software Architect (Intern)</p>
            </div>
            <div class="col-lg-4">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200">
              <h2>Muhd Hafiz</h2>
              <p>Senior Software Architect (Intern)</p>
            </div>
            <div class="col-lg-4">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200">
              <h2>Muhd Hafiz</h2>
              <p>Senior Software Architect (Intern)</p>
            </div>
          </div>
        </div>

      </div>

      <div id="RIGHT SIDEBAR" class="col-md-3 sidebar-right">
        <ul class="nav nav-sidebar">
          <audio controls id="audiobar"
            data-info-album-art="{% static 'music/assets/Keith.jpeg' %}"
            data-info-album-title="Album"
            data-info-artist="Artist"
            data-info-title="Song Name"
            data-info-label="Label">
            <!-- <source src=""  type="audio/mpeg" /> -->
            <source src="{% static 'music/assets/songs/01. Money On My Mind.mp3' %}" type="audio/mpeg" />
          </audio>
        </ul>
      </div>

      <div id="LEFT SIDEBAR" class="col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a ng-click="changePage('Homepage')"><span class="glyphicon glyphicon-home"></span> Home<span class="sr-only">(current)</span></a></li>
          <li><a ng-click="changePage('Profile')"><span class="glyphicon glyphicon-user"></span> [[NgUserName]]<span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="" ng-click="changePage('Playlist')"><span class="glyphicon glyphicon-th-list"></span> My Playlist</a></li>
          <li><a href="" ng-click="setPlaylistByHistory()"><span class="glyphicon glyphicon-calendar"></span> History</a></li>
          <li><a href="" data-toggle="modal" data-target="#HELPMODAL"><span class="glyphicon glyphicon-info-sign"></span> Help</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="http://127.0.0.1:8000/logout_user/"><span class="glyphicon glyphicon-off"></span> Logout<span class="sr-only">(current)</span></a></li>
        </ul>
      </div>

      <div id="HELPMODAL" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Hello World!</h4>
            </div>
            <div class="modal-body">
              <p>Keithkuru is our <s>Spotify clone</s> music-player webapp, featuring usage of an SQLite database linked by a django server.</p>
              <p>Front-end was written in AngularJS and Bootstrap.</p>
              <p>Reccommended playlist is coded with machine learning algorithms.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" ng-click="changePage('Credits')" data-dismiss="modal">Credits</button>
            </div>
            <!-- <p ng-model="user_id">{{user_id}},{{username}},{{user_type}}</p> -->
          </div>
        </div>
      </div>

      <div id="DELETEMODAL" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
            <!-- <p ng-model = "userInfo">{{user_id}},{{username}},{{user_type}}</p> -->
          </div>
        </div>
      </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'music/assets/js/vendor/jquery.min.js' %}"></script>

    <script src="{% static 'music/assets/js/bootstrap.min.js' %}"></script>

    <!-- For bootstrap3_player -->
    <script src="{% static 'music/assets/js/bootstrap3_player.js' %}"></script>

    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'music/assets/js/vendor/holder.min.js' %}"></script>

    <!-- Angular resources -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>

    <!-- Our app.js -->
    <script src="{% static 'music/app.js' %}"></script>



    <!-- <script src="https://raw.githubusercontent.com/axel-zarate/js-custom-select/master/js/customSelect.js"></script> -->
  </body>
</html>
