{% extends 'music/base_visitor.html' %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div style="width:450px; margin:auto;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 style="font-family:Satisfy,cursive;">Register</h1>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'music/form_template.html' %}
                        {% include 'music/form_template_user.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'music:register_artist' %}">Click here</a> to register as an Artist.
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

